* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    background-color: rgb(29, 28, 28);
}

.cabecalho {
    height: 11.1vh;
    width: 177.8vh;
    display: flex;
    margin-right: 2.8vh;
    padding-left: 9.3vh;
}

.titulo {
    padding-right: 50.9vh;
    padding-left: 0.9vh;
    padding-top: 2.3vh;
    font-size: 4.6vh;
}

.categorias {
    font-size: 2.8vh;
    padding-right: 5.6vh;
    padding-top: 2.8vh;
    text-decoration: none;
}

header {
    border-bottom: 0.2vh solid black; 
    background-color: black;
}

.direito {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 0.2vh solid black;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9vh;
    height: 3.7vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    background-color: rgb(29, 28, 28);
}

.cabecalho {
    height: 11.1vh;
    width: 177.8vh;
    display: flex;
    margin-right: 2.8vh;
    padding-left: 9.3vh;
}

.titulo {
    padding-right: 50.9vh;
    padding-left: 0.9vh;
    padding-top: 2.3vh;
    font-size: 4.6vh;
}

.categorias {
    font-size: 2.8vh;
    padding-right: 5.6vh;
    padding-top: 2.8vh;
    text-decoration: none;
}

header {
    border-bottom: 0.2vh solid black; 
    background-color: black;
}

.direito {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 0.2vh solid black;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9vh;
    height: 3.7vh;
}

main{
    display: flex;
    gap: 10vh;
}

.formulario{
    width: 100vh;
    margin-top: 5vh;
    margin-left: 5vh
}

form{
    padding: 3vh;
    height: auto;
    background-color: white;
    border-radius: 2vh;
}

.texto{
    width: 100vh;
    margin-top: 5vh;
    margin-right: 5vh;
}

input{
    height: 5vh;
    width: 90vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    color: black;
    padding: 1vh;
}

h2{
    font-size: 5vh;
}

.h2-formulario{
    color: black;
}

p{
    font-size: 2.5vh;
}

button{
    height: 6vh;
    width: 20vh;
    margin-top: 2vh;
    border-radius: 2vh;
    font-size: 2.5vh;
    background-color: rgb(170, 36, 36);
    color: white;
}

textarea{
    width: 90vh;
    height: 20vh;
    border-radius: 1vh;
    color: black;
    padding: 1vh;
}