/* Reset geral do site:
   remove margens e paddings padrão,
   define box-sizing e fonte padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Cor de fundo geral da página */
html {
  background-color: rgb(29, 28, 28);
}

/* Cabeçalho principal */
.cabecalho {
  height: 11.1vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2.8vh;
  padding-left: 3.3vh;
  padding-right: 4.5vh;
}

/* Área do título (logo + nome) */
#titulo {
  display: flex;
  justify-content: start;
  gap: 1.5vh;
}

/* Efeito hover nos links do menu */
#nav a:hover {
  color: #b00000;
}

/* Tamanho da imagem do D20 */
#D20 {
  height: 9vh;
}

/* Estilo do texto do título principal */
.titulo {
  padding-right: 50.9vh;
  padding-left: 0.9vh;
  padding-top: 2.3vh;
  font-size: 4.6vh;
}

/* Links das categorias */
.categorias {
  font-size: 2.8vh;
  padding-right: 5.6vh;
  padding-top: 2.8vh;
  text-decoration: none;
}

/* Texto comum dentro dos elementos */
.Elementos > p {
  font-size: medium;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Títulos dentro dos elementos */
.Elementos > h2 {
  font-size: x-large;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Estilo do header */
header {
  border-bottom: 0.2vh solid black;
  background-color: black;
}

/* Rodapé fixo */
.direito {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  gap: 60vh;
  border: 0.2vh solid black;
  background-color: black;
  font-size: 1.9vh;
}

/* Área das plataformas no rodapé */
.direito .plataformas {
  display: flex;
  margin-left: 10vh;
  gap: 2vh;
}

/* Ícones das plataformas */
.plataformas img {
  width: 2.5vh;
}

/* Destaque em vermelho */
span {
  color: red;
}

/* Seção superior com imagem e texto */
.Topo {
  display: flex;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 5vh;
}

/* Imagem principal do topo */
.Topo img {
  width: 40vh;
  border-radius: 2vh;
  border: #ff0000 3px solid;
}

/* Área de texto ao lado da imagem */
.Topo .Texto {
  margin-left: 5vh;
}

/* Título principal do texto */
.Texto h2 {
  font-size: 4.5vh;
}

/* Área de nota/avaliação */
.Nota {
  margin-left: 2vh;
}

/* Estilo do bloco de nota */
.Nota p {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: yellow 3px solid;
  padding: 1vh 1.5vh;
  border-radius: 2vh;
  margin-left: 2vh;
}

/* Hover da nota */
.Nota p:hover {
  background-color: yellow;
  color: black;
  border: 0.3vh black solid;
}

/* Título da área de nota */
.Nota h3 {
  margin-bottom: 1vh;
}

/* Área das tags */
.Tags {
  margin-top: 2vh;
  margin-left: 2vh;
}

/* Estilo das tags */
.Tags p {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 2vh;
  border: rgb(255, 0, 0) 3px solid;
  padding: 1vh 1.5vh;
  border-radius: 2vh;
}

/* Hover das tags */
.Tags p:hover {
  background-color: red;
  color: white;
  border: 0.3vh black solid;
}

/* Área da classificação etária */
.Classificação {
  display: inline-block;
  margin-left: 2vh;
  margin-top: 2vh;
}

/* Imagem da classificação */
.Classificação img {
  width: 9vh;
  border: none;
  margin-left: 2vh;
  margin-top: 1vh;
}

/* Seção inferior com descrição */
.Inferior {
  background-color: rgb(50, 50, 50);
  border: 0.4vh black solid;
  padding: 2vh;
  margin: 2vh 10vh;
  border-radius: 2vh;
  height: 21vh;
}

/* Texto da descrição */
.Inferior p {
  text-align: justify;
}

/* Botão/link de ação */
.Inferior a {
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh;
  width: 15vh;
  padding: 1vh;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(34, 255, 0);
  color: black;
  border: 0.4vh black solid;
  border-radius: 15px;
}

/* Hover do botão */
.Inferior a:hover {
  background-color: green;
  color: white;
}
