/* Estilo do header */
header {
  border-bottom: 0.2vh solid black;
  background-color: black;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Fundo do site */
html {
  background-color: rgb(29, 28, 28);
}

/* Cabeçalho principal */
.cabecalho {
  height: 11.1vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2.8vh;
  padding-left: 3.3vh;
  padding-right: 4.5vh;
}

/* Área do título */
#titulo {
  display: flex;
  gap: 1.5vh;
  width: 20vh;
}

/* Hover dos links */
#nav a:hover {
  color: #b00000;
}

/* Imagem do D20 */
#D20 {
  height: 9vh;
}

/* Título principal */
.titulo {
  padding-right: 50.9vh;
  padding-left: 0.9vh;
  padding-top: 2.3vh;
  font-size: 4.6vh;
}

/* Links de categorias */
.categorias {
  font-size: 2.8vh;
  padding-right: 5.6vh;
  padding-top: 2.8vh;
  text-decoration: none;
}

/* Textos das seções */
.Elementos > p {
  font-size: medium;
  word-wrap: break-word;
}

/* Títulos das seções */
.Elementos > h1 {
  font-size: x-large;
  word-wrap: break-word;
}

/* Seção superior */
.superior {
  background: linear-gradient(90deg, #b00000, #1a0000);
  padding: 5.6vh 3.7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27vh;
  overflow: hidden;
}

/* Botões */
button {
  background: #000;
  border: none;
  padding: 1.1vh 1.9vh;
  border-radius: 1.5vh;
  margin-top: 2vh;
  cursor: pointer;
}

/* Hover do botão */
button:hover {
  background-color: #ff0000;
}

/* Rodapé */
.direito {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  font-size: 1.9vh;
  height: 5vh;
  gap: 60vh;
}

/* Ícones do rodapé */
.direito .plataformas {
  display: flex;
  margin-left: 10vh;
  gap: 2vh;
}

.plataformas img {
  width: 2.5vh;
}

/* Área principal */
main {
  display: flex;
  gap: 10vh;
}

/* Área do formulário */
.formulario {
  width: 100vh;
  margin-top: 5vh;
  margin-left: 5vh;
}

/* Estilo do formulário */
form {
  padding: 3vh;
  background-color: white;
  border-radius: 2vh;
}

/* Área de texto */
.texto {
  width: 100vh;
  margin-top: 5vh;
  margin-right: 5vh;
}

/* Campos de input */
input {
  height: 5vh;
  width: 90vh;
  margin-bottom: 2vh;
  border-radius: 1vh;
  color: black;
  padding: 1vh;
}

/* Títulos */
h2 {
  font-size: 5vh;
}

/* Título do formulário */
.h2-formulario {
  color: black;
}

/* Parágrafos */
p {
  font-size: 2.5vh;
}

/* Botão do formulário */
button {
  height: 6vh;
  width: 20vh;
  margin-top: 2vh;
  border-radius: 2vh;
  font-size: 2.5vh;
  background-color: rgb(170, 36, 36);
  color: white;
}

/* Área de texto grande */
textarea {
  width: 90vh;
  height: 20vh;
  border-radius: 1vh;
  color: black;
  padding: 1vh;
}
