/* Reset básico pra evitar bugs de margem e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* facilita o controle de tamanho */
  font-family: Arial, Helvetica, sans-serif; /* fonte padrão */
  color: white; /* cor padrão do texto */
}

/* Cor de fundo geral do site */
html {
  background-color: rgb(29, 28, 28);
}

/* Cabeçalho principal */
.cabecalho {
  height: 11.1vh; /* altura proporcional à tela */
  width: 100%; /* ocupa toda a largura */
  display: flex; /* uso flex pra alinhar os itens */
  align-items: center; /* centraliza na vertical */
  margin-right: 2.8vh;
  padding-left: 3.3vh;
  padding-right: 4.5vh;
  justify-content: space-between; /* separa logo e menu */
}

/* Área do título com logo e texto */
#titulo {
  display: flex;
  justify-content: start;
  gap: 1.5vh; /* espaço entre logo e texto */
  width: 20vh;
}

/* Efeito quando passa o mouse nos links */
#nav a:hover {
  color: #b00000;
}

/* Tamanho da imagem do dado */
#D20 {
  height: 9vh;
}

/* Texto do título principal */
.titulo {
  padding-right: 50.9vh;
  padding-left: 0.9vh;
  padding-top: 2.3vh;
  font-size: 4.6vh;
}

/* Links das categorias */
.categorias {
  font-size: 2.8vh;
  padding-right: 5.6vh;
  padding-top: 2.8vh;
  text-decoration: none; /* tira o sublinhado */
}

/* Texto comum dentro da classe Elementos */
.Elementos > p {
  font-size: medium;
  word-wrap: break-word; /* evita texto estourar */
  overflow-wrap: break-word;
}

/* Títulos dentro da classe Elementos */
.Elementos > h2 {
  font-size: x-large;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Parte superior do site com destaque */
.superior {
  background: linear-gradient(90deg, #b00000, #1a0000); /* gradiente */
  padding: 5.6vh 3.7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27vh;
  overflow: hidden; /* esconde o que passar do limite */
}

/* Imagem do livro nessa seção */
.superior .livro {
  height: 22vh;
}

/* Estilo padrão dos botões */
button {
  background: #000;
  color: #fff;
  border: none;
  padding: 1.1vh 1.9vh;
  border-radius: 1.5vh;
  margin-top: 2vh;
  cursor: pointer; /* mãozinha */
}

/* Hover do botão */
button:hover {
  background-color: #ff0000;
  border: 0.2vh black solid;
}

/* Header fixo no topo */
header {
  border-bottom: 0.2vh solid black;
  background-color: black;
}

/* Texto destacado */
span {
  color: red;
}

/* Imagens clicáveis */
a img {
  height: 47.5vh;
  width: 35vh;
}

/* Rodapé fixo */
.direito {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0; /* fica grudado embaixo */
  width: 100%;
  border: 0.2vh solid black;
  background-color: black;
  font-size: 1.9vh;
  height: 5vh;
  gap: 60vh;
}

/* Ícones das plataformas */
.direito .plataformas {
  display: flex;
  margin-left: 10vh;
  gap: 2vh;
}

/* Tamanho dos ícones */
.plataformas img {
  width: 2.5vh;
}

/* Área sobre o site */
.sobre-texto {
  display: flex;
  gap: 20vh;
}

/* Título da seção sobre */
.sobre-texto h2 {
  font-size: 4vh;
  padding: 5vh 0 2vh 5vh;
}

/* Texto da seção sobre */
.sobre-texto p {
  text-align: justify;
  font-size: 3vh;
  padding: 0 5vh 5vh 5vh;
}

/* Imagem da seção sobre */
.sobre-texto img {
  float: right;
  height: 47.5vh;
  width: 35vh;
  margin-right: 10vh;
  border-radius: 2vh;
}

/* Títulos menores */
div h3 {
  font-size: 3vh;
  text-align: center;
  margin: 2vh 10vh;
}

