* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html {
  background-color: rgb(29, 28, 28);
}

.cabecalho {
  height: 11.1vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 2.8vh;
  padding-left: 3.3vh;
  padding-right: 4.5vh;
  justify-content: space-between;
  
}

#titulo {
    display: flex;
    justify-content: start;
    gap: 1.5vh;
    width: 20vh
}

#nav a:hover{
    color: #b00000;
}

#D20 {
    height: 9vh;
}


.titulo {
  padding-right: 50.9vh;
  padding-left: 0.9vh;
  padding-top: 2.3vh;
  font-size: 4.6vh;
}

.categorias {
  font-size: 2.8vh;
  padding-right: 5.6vh;
  padding-top: 2.8vh;
  text-decoration: none;
}

.Elementos > p {
  font-size: medium;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.Elementos > h2 {
  font-size: x-large;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.superior {
  background: linear-gradient(90deg, #b00000, #1a0000);
  padding: 5.6vh 3.7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27vh;
  overflow: hidden;
}
.superior .livro {
  margin-right: 0vh;
  box-sizing: border-box;
  height: 22vh;
}

button {
  background: #000;
  color: #fff;
  border: none;
  padding: 1.1vh 1.9vh;
  border-radius: 1.5vh;
  margin-top: 2vh;
  cursor: pointer;
}
button:hover{
  background-color: #ff0000;
  border: 0.2vh black solid;
}

header {
  border-bottom: 0.2vh solid black;
  background-color: black;
}

span {
  color: red;
}

a img {
  height: 47.5vh;
  width: 35vh;
}

.direito {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 0.2vh solid black;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9vh;
  height: 5vh;
  gap: 60vh;
}

.direito .plataformas {
    display: flex;
    margin-left: 10vh;
    gap: 2vh;
}

.plataformas img {
    width: 2.5vh;

}

.sobre-texto {
  display: flex;
  gap: 20vh;
}

.sobre-texto h2 {
  font-size: 4vh;
  padding: 5vh 0vh 2vh 5vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sobre-texto p {
  text-align: justify;
  font-size: 3vh;
  padding: 0 5vh 5vh 5vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sobre-texto img {
  float: right;
  height: 47.5vh;
  width: 35vh;
  margin-right: 10vh;
  border-radius: 2vh;
}

div h3 {
  font-size: 3vh;
  text-align: center;
  margin-right: 10vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

